<ion-header>
  <ion-toolbar style="text-align: center; height: 80px;" color='tertiary'>
    <ion-title>addUserPassWord</ion-title>
      <ion-buttons >
      <ion-back-button defaultHref='main'></ion-back-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item style="margin-top:50px; width: 90%;" >
    <ion-icon name="globe-outline"></ion-icon>
    <ion-input style="margin-left: 3%;" placeholder="Enter URL" [(ngModel)]="this.url"></ion-input>
  </ion-item>
  <ion-item style="margin-top:20px; width: 90%;" >
    <ion-icon name="person-outline"></ion-icon>
    <ion-input style="margin-left: 3%;" placeholder="Enter Username" [(ngModel)]="this.username"></ion-input>
  </ion-item>
  <ion-item style="margin-top:20px; width: 90%;" >
    <ion-icon name="lock-open-outline"></ion-icon>
    <ion-input style="margin-left: 3%;" placeholder="Enter Password" value={{this.password}} [(ngModel)]="this.password"></ion-input>
  </ion-item>
  <ion-button style="width: 40%;margin-left: 12%;margin-top: 10%;" color='dark' (click)='genpassword()'>
    <ion-text color="primary">
      Generate Password
    </ion-text>
  </ion-button>
  <ion-button style="width: 30%;margin-left: 3%;margin-top: 10%;" color='dark' (click)='savedata()' >
    <ion-text color="primary">
      SAVE
    </ion-text>
  </ion-button>
</ion-content>
